.splits{
  padding-top: 163px;
  padding-bottom: 171px;
  background:#fff;

&__splitsBtn{
  width: 104px;
  height: 44px;
  display: flex;
  justify-content: center;
  background: #f7f2e4;
  border-radius: ;
}
}